    <!DOCTYPE html>
    <html>
    <head>
    {% load staticfiles %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
    <title>Login Demo - Kakao JavaScript SDK</title>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <link href="{% static 'css/kakaoMap.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
    <a id="kakao-login-btn"></a>
    <a href="http://developers.kakao.com/logout"></a>
    <script type="text/javascript" src="{% static 'js/kakaoMapLogin.js' %}"></script>
    <h1> TEST </h1>
<div id="mapwrap">
    <!-- 지도가 표시될 div -->
    <div id="map" style="width:100%;height:600px;"></div>
    <!-- 지도 위에 표시될 마커 카테고리 -->
    <div class="category">
        <ul>
            <li id="coffeeMenu" onclick="changeMarker('coffee')">
                <span class="ico_comm ico_coffee"></span>
                커피숍
            </li>
            <li id="storeMenu" onclick="changeMarker('store')">
                <span class="ico_comm ico_store"></span>
                편의점
            </li>
            <li id="carparkMenu" onclick="changeMarker('carpark')">
                <span class="ico_comm ico_carpark"></span>
                주차장
            </li>
            <li id="COMSTOMMenu" onclick="changeMarker('carpark')">
                <span class="ico_comm ico_carpark"></span>
                이미지
            </li>
        </ul>
    </div>

</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=91f9a6fac1d070a9af02f4a452196aff"></script>
<script type="text/javascript" src="{% static 'js/kakaoMap.js' %}"></script>

    </body>
    </html>