<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CoronaMapGW</title>
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>


	
 <style>
.label {margin-bottom: 96px;}
.label * {display: inline-block;vertical-align: top;}
.label .left {background: url("http://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_l.png") no-repeat;display: inline-block;height: 24px;overflow: hidden;vertical-align: top;width: 7px;}
.label .center {background: url(http://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_bg.png) repeat-x;display: inline-block;height: 24px;font-size: 12px;line-height: 24px;}
.label .right {background: url("http://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_r.png") -1px 0  no-repeat;display: inline-block;height: 24px;overflow: hidden;width: 6px;}
.button2 {
  border: none;
  padding: none;

}
</style>
    
    <link rel="preload" href="{% static 'css/kakaoMap.css' %}" as="style" crossorigin="crossorigin"> 
  
	<!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
  <!-- Kakao Map -->
  <link href="{% static 'css/kakaoMap.css' %}" rel="stylesheet" type="text/css">
    
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">CoronaMapGW</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">코로나 맵</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="{% url 'status' %}">확진자 현황</a>-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://www.mohw.go.kr/react/popup_200128.html">내 근처 진료소 찾기</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="{% url 'nearby.clinic' %}">마스크 좌표 공유 게시판</a>-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'prevent' %}">코로나 예방 수칙</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-preview">
              </div>
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      확진자 : 60명
<!-- {{total_person_cnt}} 확진자 명수                       -->
                  </button>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" id="all_people" onclick="changeMarker('all')">모든 확진자</a>
                      <a class="dropdown-item" id="gang" onclick="changeMarker('강릉')">강릉</a>
                      <a class="dropdown-item" id="sokgo" onclick="changeMarker('춘천')">춘천</a>
                      <a class="dropdown-item" id="wonju" onclick="changeMarker('원주')">원주</a>
                      <a class="dropdown-item" id="Cheorwon" onclick="changeMarker('철원')">철원</a>
                      <a class="dropdown-item" id="chun" onclick="changeMarker('속초,고성,양양')">속초/고성/양양</a>
                      <a class="dropdown-item" id="dongsam" onclick="changeMarker('동해,삼척,인제')">동해/삼척/인제</a>
                      <a class="dropdown-item" id="pyeongchang" onclick="changeMarker('태백,평창,횡성')">태백/평창/횡성</a>
                  </div>
              </div>

          <a>
              <!-- Kakao Map -->
               <div style="position:absolute; right:20px;">
                    <div style="float:right;position: relative;z-index: 3; top: 5px; "><img src={% static 'img/aa.png' %} style="max-width:100%;height:100px;"></img>
                    </div>
                </div>
              
              <div style="position:absolute; left:20px;">
                  <div style="float:right;position: relative;z-index: 3; top: 5px; ">
                          <img onclick='MyLocation()' src={% static 'img/myloc.png' %} style="width:35%;height:35%;opacity:0.9;" ></img> 
                    </div>
              </div>
          
              <div id="mapwrap">
              <!-- 지도가 표시될 div -->
                  <div id="map" style="width:100%;height:400px;"></div>
              </div>
          </a>
      </div>
    

  </div>

  <hr>

  <!-- Footer -->
  <footer>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                 
    <div>
        <div class="modal fade" id="intro" role="dialog" aria-labelledby="introHeader" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Notice</h4>
                    </div>
                    <div class="modal-body">
                        안녕하세요.<br>
                        코로나맵강원 운영자입니다.<br><br>
                        확진자들의 개인정보 보호를 위하여,<br>
                        최근 2주간의 동선 정보만을 표시하기로 결정했습니다.<br><br>
                        건강 조심하세요, 감사합니다.<br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
           
        <a id="kakao-link-btn" href="javascript:sendLink()">
            <img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png"/>
            <font size="3"/>카카오톡으로 공유
        </a>
        
        <script type='text/javascript'>
            <!-- // // 사용할 앱의 JavaScript 키를 설정해 주세요. -->
            Kakao.init({{api_key}});
            function sendLink(){
                Kakao.Link.createDefaultButton({
                    container: '#kakao-link-btn',
                    objectType: 'feed',
                    content: {
                        title: 'CoronaMapGW',
                        description: '강원도 시군구별 코로나19 확진자 동선을 시각화한 사이트입니다. ',
                        imageUrl: '',
                        link: {
                            mobileWebUrl: 'https://coronamapgw.com'
                        }
                    },

                    buttons: [
                        {
                            title: '사이트 접속',
                            link: {
                                mobileWebUrl: 'https://coronamapgw.com'
                            }
                        }
                    ]
                });}
        </script>
             
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="copyright text-muted">제보 및 문의: ib7872@naver.com<br>사이트 불편 신고: radix7318@gmail.com</p>

		  </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/clean-blog.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/link.js' %}?api={{api_key}}"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{api_key}}"></script>
  <script type="text/javascript">
        var map = document.getElementById('map');
        var new_map = '';
        var poly = '';
        var poly_list = []
        var over_lay = [];
        var poly_line = [];
        var poly_color = '';
        count = 0;
        // 넘겨온 데이터 받기
        {% autoescape off %}
        var results_map = {{results_map}};
        var results_transportation_map = {{results_transportation_map}};
        var results_region_map = {{results_region_map}};
        var userurl = window.location.protocol;
        {% endautoescape %}
        
        // if(userurl=="http:") {
        //     location.replace("https://coronamapgw.com");
        // }
        //
        $(document).ready(function () {
            // 지도 맵 생성
            createMap();
            changeMarker('all'); 
            popup();
        }); 
         
        function popup(){
            $("#intro").ready(function(){
                $('div.modal').modal();
            })
        }

        // 맵 생성
        function createMap () {
            var map = document.getElementById('map');
            var mapOtion = {
                center: new kakao.maps.LatLng(37.878095, 128.218756),
                level: 11 // 지도 확대 레벨
            }
            new_map = new kakao.maps.Map(map, mapOtion);
            

        }
         
        function MyLocation(){
            // if (count == 0 )
            //     {
            //         location.replace("https://coronamapgw.com");
            //         count=1;

            //     }
            // if ((userurl == "http://coronamapgw.com") || (userurl == "coronamapgw.com"))
            //     {
            //         location.replace("https://coronamapgw.com");
            //         // location.href("naver.com");
            //     }
            
            
            
            changeMarker('all');
             if (navigator.geolocation) {

           // GeoLocation을 이용해서 접속 위치를 얻어옵니다
   navigator.geolocation.getCurrentPosition(function(position) {

       var lat = position.coords.latitude, // 위도
           lon = position.coords.longitude; // 경도

       var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
           message = '<div style="padding:3px; width:100%; height:100%; font-size:0.85em;">사용자 위치</div>'; // 인포윈도우에 표시될 내용입니다

       // 마커와 인포윈도우를 표시합니다
       displayMarker(locPosition, message);

     });

} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

   var locPosition = new kakao.maps.LatLng(37.885397	,127.729773),
       message = 'geolocation을 사용할수 없어요..'

   displayMarker(locPosition, message);
}
        }


// 지도에 마커와 인포윈도우를 표시하는 함수입니다
function displayMarker(locPosition, message) {

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({  
        map: new_map, 
        position: locPosition
    }); 
    
    var iwContent = message, // 인포윈도우에 표시할 내용
        iwRemoveable = true;

    // 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({
        content : iwContent,
        removable : iwRemoveable
    });
    
    // 인포윈도우를 마커위에 표시합니다 
    infowindow.open(new_map, marker);
    
    new_map.setLevel(5);
    // 지도 중심좌표를 접속위치로 변경합니다
    new_map.setCenter(locPosition);      
}    
         
  
         

        function drawing(person_num) {
  
             initMap()
             $.each(results_map, function(key, person){
                 if (person_num.length == 0){
                     setOverLay(person);
                 } else {
                     if (person_num.includes(key)) {
                         setOverLay(person);
                     }
                 }
             });

            //polyline 표시 - 마커와 마커 사이 그려줘야 함
            $.each(results_transportation_map , function(key, date) {
                 if (person_num.length == 0){
                     drawployline(key, date);
                 } else {
                     if (person_num.includes(key)) {
                         drawployline(key, date);
                     }
                 }

            });

            //overlay 그리기
            setMap(new_map)
        }

        var initMap = function () {
            setMap(null);
            over_lay = [];
            $.each(poly_list, function (idx, poly) {
                poly.setPath(null);
                poly.setMap(null);
            })
        }

        var setMap = function (map) {
            $.each(over_lay, function(key, value) {
               over_lay[key].setMap(map);
            });
        }

        // 커스텀 오버레이 표시
        var setOverLay = function (person) {
            var position = '';
            $.each(person, function(key, one_person){                
                position =
                    '<div class="wrap">' +
                    '    <div class="info">' +
                    '        <div class="title">' +
                             one_person.place +
                    '        </div>' +
                    '        <div class="body">' +
                    '            <div class="img">' +
                                one_person.region + '' + one_person.region_id +
                    '           </div>' +
                    '            <div class="desc">' +
                    '                <div class="ellipsis">이동수단: '+ one_person.transportation.substring(0, 8)+'</div>' + //최대 8글자
                    '                <div class="jibun ellipsis">방문일자: '+one_person.visited_date+'</div>' +//
                    '            </div>' +
                    '        </div>' +
                    '    </div>' +
                    '</div>' +
                    '<div class="circle">'+
                    one_person.person_num+
                    '</div>';
                
                over_lay.push(new kakao.maps.CustomOverlay({
                  content: position,//마커 내용
                  position: new kakao.maps.LatLng(one_person.latitude, one_person.longitude) // 경로 설정
                }));
            });
        }

        // 선 그리는 곳
        var drawployline = function (person, date) {
                $.each(date , function(idx ,path_list) {
                    poly = new kakao.maps.Polyline();
                    $.each(path_list, function (i, path) {
                        // 가져온 데이터 new LatLng 생성
                        poly_line.push(new kakao.maps.LatLng(path.latitude, path.longitude));
                        // poly_color.push(path.color);
                        poly_color = path.color;
                    });

                    // setPolyline(poly_line);
                    poly.setOptions({
                        strokeWeight: 5,
                        strokeColor: poly_color,
                        strokeOpacity: 0.8,
                        strokeStyle: 'solid'
                    });

                    poly.setPath(poly_line);
                    poly.setMap(new_map);
                    poly_list.push(poly)
                    poly_line = [];
                    poly_color = '';
                });

        }

        // 지역을 변경할때 사용하는 함수
        var changeMarker = function(check_regions) {
            // type을 받아서 누른 id를 비교
            var people_info = [];
            var check_region_list = check_regions.split(',');
            if (check_region_list[0] != 'all') {
                check_region_list.forEach(function (check_region) {
                    $.each(results_region_map, function (region, person_num_list) {
                        // 지역으로 person의 정를 get
                        if (region == check_region) {
                            people_info = people_info.concat(person_num_list)
                        }
                    });
                })
                people_info = Array.from(new Set(people_info));
            }
            drawing(people_info);
            new_map.setLevel(11);
            var firstLoc = new kakao.maps.LatLng(37.878095, 128.218756);
            new_map.panTo(firstLoc);
        }
    </script>

</body>

</html>
