<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CoronaMapGW</title>
	
 <style>
.label {margin-bottom: 96px;}
.label * {display: inline-block;vertical-align: top;}
.label .left {background: url("http://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_l.png") no-repeat;display: inline-block;height: 24px;overflow: hidden;vertical-align: top;width: 7px;}
.label .center {background: url(http://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_bg.png) repeat-x;display: inline-block;height: 24px;font-size: 12px;line-height: 24px;}
.label .right {background: url("http://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_r.png") -1px 0  no-repeat;display: inline-block;height: 24px;overflow: hidden;width: 6px;}
</style>
  
	<!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
  <!-- Kakao Map -->
  <link href="{% static 'css/kakaoMap.css' %}" rel="stylesheet" type="text/css">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">CoronaMapGW</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">코로나 맵</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="{% url 'status' %}">확진자 현황</a>-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://www.mohw.go.kr/react/popup_200128.html">내 근처 진료소 찾기</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="{% url 'nearby.clinic' %}">마스크 좌표 공유 게시판</a>-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'prevent' %}">코로나 예방 수칙</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <!--
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  -->
    <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-preview">
              </div>
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      확진자 : {{total_person_cnt}}명
                  </button>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" id="all_people" onclick="changeMarker()">모든 확진자</a>
                      <a class="dropdown-item" id="chun" onclick="changeMarker()">속초/고성</a>
                      <a class="dropdown-item" id="dongsam" onclick="changeMarker()">동해/삼척</a>
                      <a class="dropdown-item" id="gang" onclick="changeMarker()">강릉</a>
                      <a class="dropdown-item" id="sokgo" onclick="changeMarker()">춘천</a>
                  </div>
              </div>

          <a>
              <!-- Kakao Map -->
              <div id="mapwrap">
              <!-- 지도가 표시될 div -->
              <div id="map" style="width:100%;height:400px;"></div>
          </a>
      </div>
    </div>

  </div>
<!-- <h1>aaa</h1>-->
<!--  <table>-->
<!--  {% for result in results %}-->
<!--  <tr>-->
<!--      <td>-->
<!--          {{result.person_num}}-->
<!--      </td>-->
<!--      <td>-->
<!--          {{result.place}}-->
<!--      </td>-->
<!--      <td>-->
<!--          {{result.address}}-->
<!--      </td>-->
<!--      <td>-->
<!--          {{result.latitude}}-->
<!--      </td>-->
<!--      <td>-->
<!--          {{result.longitude}}-->
<!--      </td>-->
<!--  </tr>-->
<!--  {% endfor %}-->
<!--</table>-->
<!--  <h1>aaa</h1>-->
  <hr>

  <!-- Footer -->
  <footer>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
            <p>
                <a class="nomal_text" id="kakao-link-btn" href="javascript:;" style="text-decoration:none;font-family:Open Sans,Helvetica Neue">
                    <img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png"/>
                    <font size="3"> 카카오톡으로 공유
                </a>
             </p>
            </div>
        </div>
    </div>


    <script type='text/javascript'>
</script>


    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <p class="copyright text-muted">제보 및 문의: ib7872@naver.com</p>




		  </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/clean-blog.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/link.js' %}?api={{api_key}}"></script>

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{api_key}}"></script>
    <!--  <script type="text/javascript" src="{% static 'js/kakaoMap3.js' %}"></script>-->
    <script type="text/javascript">
        var mapContainer = document.getElementById('map'), // 지도의 중심좌표
            mapOption = {
                center: new kakao.maps.LatLng(37.8791271	,	127.7289193), // 지도의 중심좌표
                level: 12 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        var imageSize = new kakao.maps.Size(32, 32), // 마커이미지의 크기입니다
            imageOption = {offset: new kakao.maps.Point(17, 42)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

        // 커스텀 오버레이에 표시할 컨텐츠 입니다
        // 커스텀 오버레이는 아래와 같이 사용자가 자유롭게 컨텐츠를 구성하고 이벤트를 제어할 수 있기 때문에
        // 별도의 이벤트 메소드를 제공하지 않습니다
        var position = [
                {% for result in results_map.values %}
                {% for person in result.values %}
                    {
                    content :
                    '<div class="wrap">' +
                    '    <div class="info">' +
                    '        <div class="title">' +
                    '            {{person.place}}' +
                    '        </div>' +
                    '        <div class="body">' +
                    '            <div class="img">' +
                    '                 {{value.person_num.idx}}'+
                    '           </div>' +
                    '            <div class="desc">' +
                    '                <div class="ellipsis">이동수단: {{person.transportation}}</div>' + //최대 8글자
                    '                <div class="jibun ellipsis">방문일자: {{person.visited_date}}</div>' +//
                    '            </div>' +
                    '        </div>' +
                    '    </div>' +
                    '</div>',
                    latlng:
                    new kakao.maps.LatLng({{person.latitude}},	{{person.longitude}}),

                    imageSrc :
                    '<div class="circle">10</div>'
                    },
                {% endfor %}
                {% endfor %}
        ];

        for (var i = 0; i < position.length; i ++) {
        // 마커 위에 커스텀오버레이를 표시합니다
        // 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
            var overlay = new kakao.maps.CustomOverlay({
                content: position[i].content,
                map: map,
                position: position[i].latlng
            });
            overlay.setMap(map);

            var circleoverlay = new kakao.maps.CustomOverlay({
                content: position[i].imageSrc,
                map: map,
                position: position[i].latlng
            });

            circleoverlay.setMap(map);
        }

        {% for key,results in results_transportation_map.items %}
        {% for date, result in results.items %}
        var {{key}}_{{date}} = {{% for transport_idx, path in result.items %}
            {{transport_idx}}:{% for idx, spot in path.items %}{% if idx == "0" %}[new kakao.maps.LatLng({{spot.latitude}}, {{spot.longitude}})
            {% else %},new kakao.maps.LatLng({{spot.latitude}}, {{spot.longitude}}){% endif %}{% endfor %}],{% endfor %}
        }

        var color_list_{{date}} = {{% for transport_idx, path in result.items %}
            {{transport_idx}}:{% for idx, spot in path.items %}{% if idx == "0" %}["{{spot.color}}"
            {% else %},"{{spot.color}}"{% endif %}{% endfor %}],{% endfor %}
        }

        // console.log(color_list_{{date}}["transport0"][0]) // TODO : 수정

        for (var key in {{key}}_{{date}}) {
            var polyline = new kakao.maps.Polyline({
                    path: {{key}}_{{date}}[key], // 선을 구성하는 좌표배열 입니다
                    strokeWeight: 5, // 선의 두께 입니다
                    strokeColor: color_list_{{date}}[key][0], // 선의 색깔입니다
                    strokeOpacity: 0.9, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                    strokeStyle: 'solid' // 선의 스타일입니다
            });
            polyline.setMap(map);
        }
        {% endfor %}
        {% endfor %}

    </script>

</body>

</html>
