<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CoronaMapGW</title>
	
 <style>
.label {margin-bottom: 96px;}
.label * {display: inline-block;vertical-align: top;}
.label .left {background: url("http://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_l.png") no-repeat;display: inline-block;height: 24px;overflow: hidden;vertical-align: top;width: 7px;}
.label .center {background: url(http://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_bg.png) repeat-x;display: inline-block;height: 24px;font-size: 12px;line-height: 24px;}
.label .right {background: url("http://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_r.png") -1px 0  no-repeat;display: inline-block;height: 24px;overflow: hidden;width: 6px;}
</style>
  
	<!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
  <!-- Kakao Map -->
  <link href="{% static 'css/kakaoMap.css' %}" rel="stylesheet" type="text/css">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">CoronaMapGW</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">코로나 맵</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="{% url 'status' %}">확진자 현황</a>-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://www.mohw.go.kr/react/popup_200128.html">내 근처 진료소 찾기</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="{% url 'nearby.clinic' %}">마스크 좌표 공유 게시판</a>-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'prevent' %}">코로나 예방 수칙</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <!--
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  -->
    <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-preview">
              </div>
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      확진자 : {{}}명
                  </button>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" id="all_people" onclick="changeMarker()">모든 확진자</a>
                      <a class="dropdown-item" id="chun" onclick="changeMarker()">속초/고성</a>
                      <a class="dropdown-item" id="dongsam" onclick="changeMarker()">동해/삼척</a>
                      <a class="dropdown-item" id="gang" onclick="changeMarker()">강릉</a>
                      <a class="dropdown-item" id="sokgo" onclick="changeMarker()">춘천</a>
                  </div>
              </div>

          <a>
              <!-- Kakao Map -->
              <div id="mapwrap">
              <!-- 지도가 표시될 div -->
              <div id="map" style="width:100%;height:400px;"></div>
          </a>
      </div>
    </div>

  </div>
<!-- <h1>aaa</h1>-->
<!--  <table>-->
<!--  {% for result in results %}-->
<!--  <tr>-->
<!--      <td>-->
<!--          {{result.person_num}}-->
<!--      </td>-->
<!--      <td>-->
<!--          {{result.place}}-->
<!--      </td>-->
<!--      <td>-->
<!--          {{result.address}}-->
<!--      </td>-->
<!--      <td>-->
<!--          {{result.latitude}}-->
<!--      </td>-->
<!--      <td>-->
<!--          {{result.longitude}}-->
<!--      </td>-->
<!--  </tr>-->
<!--  {% endfor %}-->
<!--</table>-->
<!--  <h1>aaa</h1>-->
  <hr>

  <!-- Footer -->
  <footer>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
            <p>
                <a class="nomal_text" id="kakao-link-btn" href="javascript:;" style="text-decoration:none;font-family:Open Sans,Helvetica Neue">
                    <img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png"/>
                    <font size="3"> 카카오톡으로 공유
                </a>
             </p>
            </div>
        </div>
    </div>


    <script type='text/javascript'>
</script>


    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <p class="copyright text-muted">제보 및 문의: ib7872@naver.com</p>




		  </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/clean-blog.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/link.js' %}?api={{api_key}}"></script>

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{api_key}}"></script>
<!--  <script type="text/javascript" src="{% static 'js/kakaoMap3.js' %}"></script>-->
<script type="text/javascript">

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.7880199,128.4472971), // 지도의 중심좌표
        level: 12// 지도의 확대 레벨
    };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다.

    if (navigator.geolocation) {

       // GeoLocation을 이용해서 접속 위치를 얻어옵니다
       navigator.geolocation.getCurrentPosition(function(position) {

           var lat = position.coords.latitude, // 위도
               lon = position.coords.longitude; // 경도

           var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
               message = '<div style="padding:3px; width:100%; height:100%; font-size:0.85em;">사용자 위치</div>'; // 인포윈도우에 표시될 내용입니다

           // 마커와 인포윈도우를 표시합니다
           displayMarker(locPosition, message);

         });

    } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

       var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
           message = 'geolocation을 사용할수 없어요..'

       displayMarker(locPosition, message);
    }


    // 마커
    {% for result in results %}
    {% if result == 1 %}
    var positions_{{result.person_id}} = [

    // 	1호환자
        {
            content: '<div class ="label"><span class="left"></span><span class="center">{{result.person_num}}</span><span class="right"></span></div>',
            latlng: new kakao.maps.LatLng({{result.latitude}} ,{{result.longitude}})
        },

        // 마지막 부분
        {
            content: '<div class ="label"><span class="left"></span><span class="center">CU삼척대학로점</span><span class="right"></span></div>',
            latlng: new kakao.maps.LatLng(37.4435721	,	129.1631689)
        }

    ];
    {% endfor %}

    // 환자 이동경로
    {% for result in results %}
    var pos_1 = [
        new kakao.maps.LatLng(38.2737631,	128.5554013),
        new kakao.maps.LatLng(38.2706048,	128.5568356),
        new kakao.maps.LatLng(38.2015581,	128.593468),
        new kakao.maps.LatLng(38.2005926,	128.5947703),
        new kakao.maps.LatLng(38.2654241,	128.3596247),
        new kakao.maps.LatLng(37.2568971,	128.0482991),
        new kakao.maps.LatLng(38.2071264,	128.5746114)
    ];

    var polyline = new kakao.maps.Polyline({
                path: pos_1, // 선을 구성하는 좌표배열 입니다
                strokeWeight: 5, // 선의 두께 입니다
                strokeColor: '#FF0000', // 선의 색깔입니다
                strokeOpacity: 0.9, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                strokeStyle: 'solid' // 선의 스타일입니다
    });
    {% endfor %}
    polyline.setMap(map);





    for (var i = 0; i < positions.length; i ++) {
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng // 마커의 위치
        });

    // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            position: positions[i].latlng,
            content: positions[i].content
        });

        // 커스텀 오버레이를 지도에 표시합니다
        customOverlay.setMap(map);

    }

    // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
    function makeOverListener(map, marker, infowindow) {
        return function() {
            infowindow.open(map, marker);
        };
    }

    // 인포윈도우를 닫는 클로저를 만드는 함수입니다
    function makeOutListener(infowindow) {
        return function() {
            infowindow.close();
        };
    }


    function displayMarker(locPosition, message) {

       // 마커를 생성합니다
       var marker = new kakao.maps.Marker({
           map: map,
           position: locPosition
       });

       var iwContent = message, // 인포윈도우에 표시할 내용
           iwRemoveable = true;

       // 인포윈도우를 생성합니다
       var infowindow = new kakao.maps.InfoWindow({
           content : iwContent,
           removable : iwRemoveable
       });

       // 인포윈도우를 마커위에 표시합니다
       infowindow.open(map, marker);

        // 지도 중심좌표를 접속위치로 변경합니다
       map.setCenter(locPosition);
    }

    // TODO : 각 지역을 불러오기
    // 카테고리를 클릭했을 때 type에 따라 카테고리의 스타일과 지도에 표시되는 마커를 변경합니다
    function changeMarker(type){

        var coffeeMenu = document.getElementById('');
        var storeMenu = document.getElementById('');
        var carparkMenu = document.getElementById('');

        // 커피숍 카테고리가 클릭됐을 때
        if (type === '') {

            // 커피숍 카테고리를 선택된 스타일로 변경하고
            coffeeMenu.className = 'menu_selected';

            // 편의점과 주차장 카테고리는 선택되지 않은 스타일로 바꿉니다
            storeMenu.className = '';
            carparkMenu.className = '';

            // 커피숍 마커들만 지도에 표시하도록 설정합니다
            setCoffeeMarkers(map);
            setStoreMarkers(null);
            setCarparkMarkers(null);

        } else if (type === '') { // 편의점 카테고리가 클릭됐을 때

            // 편의점 카테고리를 선택된 스타일로 변경하고
            coffeeMenu.className = '';
            storeMenu.className = 'menu_selected';
            carparkMenu.className = '';

            // 편의점 마커들만 지도에 표시하도록 설정합니다
            setCoffeeMarkers(null);
            setStoreMarkers(map);
            setCarparkMarkers(null);

        } else if (type === '') { // 주차장 카테고리가 클릭됐을 때

            // 주차장 카테고리를 선택된 스타일로 변경하고
            coffeeMenu.className = '';
            storeMenu.className = '';
            carparkMenu.className = 'menu_selected';

            // 주차장 마커들만 지도에 표시하도록 설정합니다
            setCoffeeMarkers(null);
            setStoreMarkers(null);
            setCarparkMarkers(map);
        }
    }

    marker.setMap(map);
</script>

</body>

</html>
