<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>코로나맵강원</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
  <!-- Kakao Map -->
  <link href="{% static 'css/kakaoMap.css' %}" rel="stylesheet" type="text/css">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">CoronaMapGW</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">코로나 맵</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="{% url 'status' %}">확진자 현황</a>-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://www.mohw.go.kr/react/popup_200128.html">내 근처 진료소 찾기</a>
          </li>
          <li class="nav-item">
<!--            <a class="nav-link" href="{% url 'nearby.clinic' %}">마스크 좌표 공유 게시판</a>-->
<!--          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'prevent' %}">코로나 예방 수칙</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <!--
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  -->
    <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a>
          <img src="{% static 'img/prevention.jpg' %}"  style="max-width: 100%; height: auto;">
          </a>
          <a>
          <img src="{% static 'img/prevention1.jpg' %}"  style="max-width: 100%; height: auto;">
          </a>
          <a>
          <img src="{% static 'img/prevention2.jpg' %}"  style="max-width: 100%; height: auto;">
          </a>
      </div>
    </div>
  </div>

  <hr>

 <footer>
	  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

	  <a id="kakao-link-btn" href="javascript:;">
<img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png"/><font size="3">(카카오톡으로 공유)
		 

		  </a>


		  <script type='text/javascript'>
  //<![CDATA[
    // // 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('754fb9128b5e18c3f22b652f95ae05cc');
    // // 카카오링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
    Kakao.Link.createDefaultButton({
      container: '#kakao-link-btn',
      objectType: 'feed',
      content: {
        title: 'CoronaMapGW',
        description: '강원도 시군구별 코로나19 확진자 동선을 시각화한 사이트입니다. ',
        imageUrl: '',
        link: {
          mobileWebUrl: 'http://coronamapgw.com'
        }
      },

      buttons: [
        {
          title: '사이트 접속',
          link: {
            mobileWebUrl: 'http://coronamapgw.com'
          }
        }
      ]
    });
  //]]>
</script>


    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <p class="copyright text-muted">제보 및 문의: ib7872@naver.com</p>




		  </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/clean-blog.min.js' %}"></script>
	  
  <script type="text/javascript" src="{% static 'js/link.js' %}"></script>

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=754fb9128b5e18c3f22b652f95ae05cc"></script>
  <script type="text/javascript" src="{% static 'js/kakaoMap_dongsam.js' %}"></script>

</body>

</html>

